<div class="container-fluid border border-4 border-black p-xl-3">
  <form [formGroup]="deleteForm">
    <div class="row">
      <div
        class="mb-3 d-flex align-items-center justify-content-center flex-column"
      >
        <label for="id" class="form-label fw-bold"
          >Enter Product Id to Delete</label
        >
        <input
          type="number"
          class="form-control"
          id="id"
          placeholder="Enter product Id"
          formControlName="id"
        />
      </div>
    </div>
    <div class="text-center">
      <button
        type="submit"
        class="btn btn-primary"
        (click)="handleDeleteProduct(deleteForm)"
      >
        Submit
      </button>
    </div>
  </form>
</div>
