<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid d-flex">
    <a class="navbar-brand">E-Commerce</a>
    <span class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <a class="btn btn-primary mx-2" routerLink="/search">
        <i class="bi bi-camera"></i>
      </a>
      <button class="btn btn-outline-success" type="submit">Search</button>
    </span>
    <div *ngIf="!authService.isAuthenticated">
      <a routerLink="login" class="btn btn-primary mx-2" role="button">Login</a>
      <a routerLink="register" class="btn btn-primary" role="button"
        >Register</a
      >
    </div>
    <div *ngIf="authService.isAuthenticated">
      <button class="btn btn-outline-danger" (click)="authService.logOut()">
        Log-out
      </button>
    </div>
  </div>
</nav>
