<div class="container-fluid d-flex vh-100 mt-2 flex-column">
  <div class="row">
    <div
      class="col d-flex justify-content-center bg-body-tertiary shadow-sm rounded"
    >
      <h2 class="fw-bolder">CART</h2>
    </div>
  </div>
  <div class="container mt-5">
    <div class="row shadow-sm rounded p-2">
      <div class="col-8 rounded">
        <table
          class="table p-1 d-flex justify-content-center w-100 flex-column rounded"
        >
          <thead
            class="container d-flex flex-column justify-content-center w-100 my-1 rounded-1"
          >
            <div class="row bg-body-tertiary rounded-1 shadow-sm">
              <div
                class="col-1 bg-body-tertiary text-center fw-bold font-monospace"
              >
                <u>Item</u>
              </div>
              <div
                class="col-7 bg-body-tertiary text-center fw-bold font-monospace"
              >
                <u>Product</u>
              </div>
              <div
                class="col-2 bg-body-tertiary text-center fw-bold font-monospace"
              >
                <u>Quantity</u>
              </div>
              <div
                class="col-2 bg-body-tertiary text-center fw-bold font-monospace"
              >
                <u>Price</u>
              </div>
            </div>
          </thead>
          <tbody class="ItemContainer rounded-1 w-100">
            <div
              class="Container px-3 me-1"
              *ngFor="let data of cartItemDetails"
            >
              <div
                class="row shadow-sm my-2 bg-body-tertiary rounded d-flex justify-content-center align-items-center"
              >
                <div class="d-flex justify-content-end">
                  <span
                    (click)="data.cartItemId && removeCartItem(data.cartItemId)"
                    ><i class="bi bi-x-circle-fill"></i
                  ></span>
                </div>
                <div class="col-1 text-center fw-bold rounded">
                  {{ data.cartItemId }}
                </div>
                <div class="col-7 text-center fw-bold rounded">
                  <div class="row">
                    <div class="col-6">
                      <img
                        class="img-fluid rounded-3"
                        src="{{ data.product?.imageUrl }}"
                        alt=""
                      />
                    </div>
                    <div class="col-6">
                      <!-- {{data.product?.name}}{{data.product?.category}}{{data.product?.colour}} -->
                      <div class="container d-flex flex-column h-100">
                        <span class="category">{{
                          data.product?.category
                        }}</span>
                        <span class="text-center font-monospace">{{
                          data.product?.name
                        }}</span>
                        <div class="mt-auto">
                          <span>Colour: {{ data.product?.colour }}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="col-2 d-flex justify-content-end text-center fw-bold rounded"
                >
                  <input
                    class="w-50"
                    type="number"
                    [(ngModel)]="data.quantity"
                  />
                </div>
                <div class="col-2 text-center fw-bold rounded">
                  {{ data.totalPrice!! * data.quantity!! | currency : "INR" }}
                </div>
              </div>
            </div>
          </tbody>
          <div class="my-2 p-2 me-2 shadow-sm rounded">
            <div class="mb-4 mb-lg-0">
              <div class="card-body">
                <p><strong>We accept</strong></p>
                <img
                  class="me-2"
                  width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/visa.svg"
                  alt="Visa"
                />
                <img
                  class="me-2"
                  width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/amex.svg"
                  alt="American Express"
                />
                <img
                  class="me-2"
                  width="45px"
                  src="https://mdbcdn.b-cdn.net/wp-content/plugins/woocommerce-gateway-stripe/assets/images/mastercard.svg"
                  alt="Mastercard"
                />
              </div>
            </div>
          </div>
        </table>
      </div>
      <div class="col-3 rounded ms-auto me-2 my-auto">
        <div class="card p-1 shadow-sm rounded">
          <img
            src="https://logowik.com/content/uploads/images/mustang-car-illustration8288.logowik.com.webp"
            class="card-img-top shadow-sm rounded"
            alt="..."
          />
          <div class="card-body d-flex flex-column">
            <h5 class="card-title">
              <span class="col-6 franklin">CHECKOUT😺</span>
            </h5>
            <ul class="list-group list-group-flush">
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0"
              >
                Products
                <span>{{ cartData?.totalPrice | currency : "INR" }}</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center px-0"
              >
                Shipping
                <span>FREE 😎</span>
              </li>
              <li
                class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3"
              >
                <div>
                  <strong>Total amount</strong>
                  <strong>
                    <p class="mb-0">(including VAT)</p>
                  </strong>
                </div>
                <span
                  ><strong>{{
                    cartData?.totalPrice | currency : "INR"
                  }}</strong></span
                >
              </li>
            </ul>

            <button type="button" class="btn btn-primary btn-lg btn-block">
              <h5 class="fw-semibold" (click)="handleCheckout()">
                Checkout Cart 🛒
              </h5>
            </button>
            <!-- <p class="card-text ">
                    <span class=" col-7">

                    </span>
                    <span class=" col-4">
                        <input class="form-control" type="text" placeholder="" aria-label="Disabled input example" disabled>
                    </span>
                    <span class=" col-4"></span>
                    <span class=" col-6"></span>
                    <span class=" col-8"></span>
                  </p> -->
            <!-- <a class="btn btn-primary disabled placeholder col-6" aria-disabled="true"></a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
