<app-nav-bar></app-nav-bar>

<div class="container-fluid">
  <!-- carousal -->
  <div class="row m-2">
    <div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="1"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#myCarousel"
          data-bs-slide-to="2"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active c-item">
          <img
            src="https://images.pexels.com/photos/129208/pexels-photo-129208.jpeg"
            class="d-block w-100 c-img"
            alt="..."
          />
          <div class="container">
            <div class="carousel-caption text-start">
              <h1>Laptops For your Productivity</h1>
              <p class="opacity-75">
                Variety of Laptops based on your usecase at affordable cost
              </p>
              <p>
                <button
                  class="btn btn-lg btn-primary"
                  (click)="searchCategory('laptop')"
                >
                  Buy Now
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item c-item">
          <img
            src="https://images.pexels.com/photos/699122/pexels-photo-699122.jpeg"
            class="d-block w-100 c-img"
            alt="..."
          />
          <div class="container">
            <div class="carousel-caption">
              <h1>Next Gen SmartPhones</h1>
              <p>Launching @midnight Stay tuned!</p>
              <p>
                <button
                  class="btn btn-lg btn-primary"
                  (click)="searchCategory('cell phone')"
                >
                  Buy Now
                </button>
              </p>
            </div>
          </div>
        </div>
        <div class="carousel-item c-item">
          <img
            src="https://images.pexels.com/photos/1649771/pexels-photo-1649771.jpeg"
            class="d-block w-100 c-img"
            alt="..."
          />
          <div class="container">
            <div class="carousel-caption text-end">
              <h1>50% OFF, get your hands on this BEAST</h1>
              <p>
                <button
                  (click)="searchCategory('head phone')"
                  class="btn btn-lg btn-primary"
                >
                  Buy Now
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#myCarousel"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <!-- cards for categories -->
  <div class="row m-2">
    <div class="col-3">
      <div class="card border border-black h-100">
        <img
          src="https://images.pexels.com/photos/356056/pexels-photo-356056.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div
          class="card-body d-flex flex-column flex-fill justify-content-center"
        >
          <h5 class="card-title fw-bold">Laptop</h5>
          <p class="card-text">
            Unlock limitless possibilities with our cutting-edge electronics
            card, your gateway to the latest tech innovations!
          </p>
          <a
            (click)="searchCategory('laptop')"
            class="btn btn-primary fw-bold mt-auto w-50 mx-auto"
            >View More</a
          >
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card border border-black h-100">
        <img
          src="https://images.pexels.com/photos/135620/pexels-photo-135620.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div
          class="card-body d-flex flex-column flex-fill justify-content-center"
        >
          <h5 class="card-title fw-bold">Hand Bags</h5>
          <p class="card-text">
            Elevate your style with our fashion-forward card, unlocking
            exclusive access to the latest trends and must-have wardrobe
            essentials!
          </p>
          <a
            (click)="searchCategory('hand bag')"
            class="btn btn-primary fw-bold mt-auto w-50 mx-auto"
            >View More</a
          >
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card border border-black h-100">
        <img
          src="https://images.pexels.com/photos/2385477/pexels-photo-2385477.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div
          class="card-body d-flex flex-column flex-fill justify-content-center"
        >
          <h5 class="card-title fw-bold">Shoe</h5>
          <p class="card-text">
            Gear up for adventure with our all-access sports and outdoors card,
            your passport to a world of thrilling activities and top-of-the-line
            equipment!
          </p>
          <a
            (click)="searchCategory('shoe')"
            class="btn btn-primary fw-bold mt-auto w-50 mx-auto"
            >View More</a
          >
        </div>
      </div>
    </div>
    <div class="col-3">
      <div class="card border border-black h-100">
        <img
          src="https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg"
          class="card-img-top"
          alt="..."
        />
        <div
          class="card-body d-flex flex-column flex-fill justify-content-center"
        >
          <h5 class="card-title fw-bold">Books</h5>
          <p class="card-text">
            Dive into boundless worlds of knowledge and entertainment with our
            books and media card, granting you unlimited access to captivating
            stories, insightful reads, and immersive experiences!
          </p>
          <a
            (click)="searchCategory('book')"
            class="btn btn-primary fw-bold mt-auto w-50 mx-auto"
            >View More</a
          >
        </div>
      </div>
    </div>
  </div>
  <!-- products cards -->
  <!-- <div class="container">
    <div class="row">
      <div *ngFor="let product of products" class="col-md-3">
        <div class="card border border-black my-3">
          <img
            [src]="product.imageUrl"
            class="card-img-top"
            alt="image-thumbnail"
          />
          <div
            class="card-body d-flex flex-column flex-fill justify-content-center"
          >
            <div class="row my-2">
              <div class="col">
                <h5 class="card-title fw-bold">Name: {{ product.name }}</h5>
              </div>
              <div class="col">
                <h5 class="card-text">
                  Price:
                  {{ product.price }}
                </h5>
              </div>
            </div>
            <div class="row my-2">
              <div class="col">
                <button
                  class="btn btn-secondary"
                  (click)="moreInfo(product.id)"
                >
                  More Info
                </button>
              </div>
              <div class="col">
                <button class="btn btn-primary">Add to cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>

<!-- products cards -->
<router-outlet></router-outlet>
